.journal-add-button {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
}